template(name='layout')
    +menu
    +yield

template(name='menu')
    .navbar-fixed: nav.green: nav-wrapper
        ul.left#topLeft
            li: a Beranda
        a.brand-logo.center Dinas LHK Maps
        ul.right
            li: a Login
            li: a Register
            li: a Logout
    ul.fixed.side-nav
        each val in menus
            li: a(href=val)= val

template(name='home'): h4.right Beranda
template(name='hutan_desa'): #peta
template(name='iuphhk_re'): #peta
template(name='iuphhk_ha'): #peta
template(name='iuphhk_ht'): #peta
